@media screen and (max-width: 1024px) {
    .versatile ul{
        width: 100%;
    }
}
@media screen and (max-width: 768px) {
    .versatile .versatile-btn{
        font-size: 14px;
        padding: 10px 20px;
    }
    .price-section .impression{
        width: 200px;
        height: 200px;
    }
    .price-section .impression h1{
        font-size: 40px;
    }
    .price-section .impression p{
        font-size: 18px;
    }
    .slider-section .owl-carousel .owl-stage-outer {
        position: relative;
        overflow: hidden;
        -webkit-transform: translate3d(0,0,0);
    }
}
@media screen and (max-width: 425px) {
    .versatile .versatile-btn{
        font-size: 10px;
        padding: 8px 10px;
    }
}